@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing {
  font-family: 'Dancing Script', cursive;
}

.open_sans {
  font-family: 'Open Sans', sans-serif;
}

button:hover span, button:hover i, .social p i {
  color: #5dff33;
}

button.other_btn:hover i{
  color: #fff;
}

.box_hover:hover .img_box img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.social p:hover i {
  color: #ffbe33;
}

.area {
  max-width: 1200px;
}

.pagination button {
  font-size: 16px;
  background: gray;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.pagination select {
  background: gray;
  border-radius: 5px;
}

.pagination button:hover, .pagination select:hover {
  background: orange;
}

.pagination .selected {
  background-color: orange;
  color: white;
}